body{
    background: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    background-color: royalblue;
    height: 50px;
    line-height: 50px;
    margin-bottom: 0;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;

}
#content{
    background-color: royalblue;
    color: white;

}
img{
    float: left;
    width: 250px;
    height: 350px;
}
nav a{
    margin: 10px;
    color: white;
    line-height: 40px;
}
nav{
    text-align: center;
    background: black;
    height: 10%;
}    
