<!doctype html>
<html lang="en">
  <head>
    <title>TecnoVenta</title>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/prueba1.css'%}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container-xxl">
      <h1 align="center">TecnoVenta</h1>
    </div> 
      <nav>
        <a href="prueba1.html">Inicio</a>
        <a href="Computadores.html">Computadores</a>
        <a href="Telefonos.html">Telefonos</a>
        <a href="Witgets.html">Witgets</a>
        <a href="Contacto.html">Contacto</a>
        <a href="Nosotros.html">Nosotros</a>
        <a href="Carrito Compras.html">Carrito Compras</a>
      </nav>
    <br>
    </div>
    <div>
      <form action="" method="POST" id="form">
        <label for="nombre">Nombre Completo:</label>
        <input type="text" name="nombre" id="Nombre">
        <br>
        <label for="correo">Correo electronico:</label>
        <input type="text" name="correo" id="correo">
        <br>
        <label for="id">Ingrese su RUN:</label>
        <input type="text" name="id" id="id" required oninput="checkRut(this)">
        <script src="validarRUT.js"></script>
        <br>
        <label for="tel">Nro. Telefonico:</label>
        <input type="text" name="tel" id="tel">
        <br>
        <label for="ciudad">Ciudad:</label>
        <input type="text" name="ciudad" id="ciudad">
        <br>
        <label for="tipo">Seleccione:</label>
        <select name="tipo">
          <option value="1">Consulta</option>
          <option value="2">Reclamo</option>
        </select>
        <br>
        <label for="coment">Consulta/Reclamo</label>
        <br>
        <textarea name="coment" id="coment" cols="30" rows="6"></textarea>
        <br>
        <button type="reset" class="btn btn-primary">Limpiar</button>
        <button type="submit" class="btn btn-primary">Enviar</button>
        <p class="warnings" id="warnings"></p>  
      </form>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <script src="contacto.js"></script>
  </body>
</html>